@import "./assets/shortClasses.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Kartooni";
  src: url("./assets/fonts/Kartooni.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-main: Montserrat;
  --font-secondary: Kartooni;

  //   colors
  --blue: #52d6ff;
  --black: #000;
  --white: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-main);
}

.btn-variant-1 {
  @include flex(center, center);
  max-width: 274px;
  width: 100%;
  height: 66px;

  border-radius: 100px;
  background: linear-gradient(180deg, #00f2ff 0%, #0b58bd 100%);
  box-shadow: 0 2.063px 0 0 #7bf7ff inset, 0 4px 0 0 #03448d;

  color: var(--white);

  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
  }
}

body {
  font-family: var(--font-main);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-top-padding) var(--container-side-padding);
}

header {
  @include flex(center, center);
  @include f-direction(row);

  max-width: 1316px;
  width: 100%;
  margin: 0 auto;

  border-radius: 60px;
  background: rgba(254, 255, 187, 0.6);
  box-shadow: 0 4px 16px 0 rgba(0, 104, 141, 0.6);
  backdrop-filter: blur(4px);

  .container {
    @include flex(space-between, center);
    @include f-direction(row);
    padding: 0 30px;
    margin: 0;
    max-width: 1160px;
    width: 100%;
  }

  .hiding-content {
    @include flex(center, center);
    width: 100%;
  }

  .hiding-content-btn-toggler {
    display: none;
  }

  .logo-box {
    max-width: 135px;
    width: 100%;
    height: 100%;
    margin-right: 15px;

    img {
      width: 100%;
    }
  }

  nav {
    @include flex(space-between, center);
    @include f-direction(row);
    gap: 15px;

    max-width: 535px;
    width: 100%;

    a {
      color: var(--black);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .btn-variant-1 {
    &.btn-variant-1--header {
      margin-left: 20px;

      @include max-w-media(1000px) {
        max-width: 155px;
        font-size: 19px;
      }

      @include max-w-media(800px) {
        height: 37px;
        font-size: 19px;
        display: block;
      }
    }
  }
}

.header {
  &__box {
    position: fixed;
    top: 24px;
    left: 0;
    right: 0;
    z-index: 10;

    padding: 0 20px;
  }
}

.hero {
  width: 100%;
  height: 721px;

  position: relative;

  background-image: url("./img/section-hero/hero-bg.webp");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @keyframes moveBackground {
    from {
      //background-position: 0 center;
      transform: translateX(0);
    }
    to {
      //background-position: 100% center;
      transform: translateX(-50%);
    }
  }

  @include max-w-media(1270px) {
    height: 580px;
  }

  @include max-w-media(900px) {
    height: 390px;
  }

  @include max-w-media(575px) {
    height: 280px;
  }

  .top-section {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    .hero-text {
      position: absolute;

      bottom: -1px;
      right: 34%;
      max-width: 849px;
      width: 100%;
      height: auto;

      @include max-w-media(1270px) {
        max-width: 620px;
      }

      @include max-w-media(900px) {
        max-width: 400px;
        right: 29%;
      }

      @include max-w-media(575px) {
        max-width: 260px;
      }
    }

    .avatar {
      position: absolute;
      bottom: 4%;
      right: 14%;
      width: 560px;
      height: auto;

      @include max-w-media(1270px) {
        max-width: 430px;
        right: 5%;
      }

      @include max-w-media(900px) {
        max-width: 250px;
        right: -2%;
      }

      @include max-w-media(575px) {
        max-width: 170px;
      }
    }
  }
}

.bottom-section-animated {
  position: relative; /* Ensure the inner div is positioned correctly */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(46, 6, 145, 0.6);
  backdrop-filter: blur(4px);
  z-index: 5;
  overflow: hidden; /* Hide the overflow of the animated background */

  .background-animated {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Ensure the background can slide across the entire width */
    height: 100%;
    background-image: url("./img/section-hero/ice-dream-bottom.webp");
    background-repeat: repeat-x;
    background-position: 0 center;
    animation: moveBackground 20s linear infinite;
  }
}

main {
  width: 100%;
  height: 100%;

  background-image: url(./img/main-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: rgba(194, 137, 6, 1);

  overflow: hidden;
  padding-top: 60px;

  .tutorial {
    @include flex(center, center);
    @include f-direction(column);

    gap: 60px;

    padding-top: 60px;

    .title-box {
      width: fit-content;
      //height: 71px;

      h2 {
        text-align: center;
        color: var(--white);
        text-shadow: 6px 6px 0 #003a5e;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: var(--font-secondary);
        z-index: 2;
      }
    }

    .subtitle {
      max-width: 1300px;
      padding: 0 15px;
      width: 100%;
      color: var(--white);
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .steps {
      @include flex(space-between, stretch);
      flex-wrap: wrap;

      gap: 25px;

      width: 100%;
      overflow-x: scroll;
      padding: 25px 25px;

      @include max-w-media(1200px) {
        gap: 50px;
      }

      .step {
        width: calc(25% - 25px);

        position: relative;

        border-radius: 24px;
        background-color: var(--white);
        padding: 32px 24px;

        @include max-w-media(1200px) {
          width: calc(50% - 25px);
          padding: 16px 12px;
        }

        @include max-w-media(700px) {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: -6px;
          left: -6px;
          right: -6px;
          bottom: -6px;
          border-radius: 24px;
          background: linear-gradient(180deg, #016091 0%, #01f2fa 100%);
          z-index: 1;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 24px;
          background: var(--white);
          z-index: 2;
        }

        .step-content {
          @include flex(flex-start, flex-start);
          @include f-direction(column);

          position: relative;
          gap: 16px;

          z-index: 3;

          .top-section {
            @include flex(flex-start, flex-start);
            @include f-direction(column);
            gap: 5px;

            .count {
              color: #075686;
              font-family: var(--font-secondary);
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;

              @include max-w-media(1200px) {
                font-size: 32px;
              }
            }

            .step-title {
              color: #075686;
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;

              @include max-w-media(1200px) {
                font-size: 32px;
              }
            }
          }

          .bottom-section {
            @include flex(flex-start, flex-start);
            @include f-direction(column);

            gap: 16px;

            .about {
              color: var(--black);
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;

              @include max-w-media(1200px) {
                font-size: 16px;
              }
            }

            a {
              color: #009fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%;
              text-decoration-line: underline;

              @include max-w-media(1200px) {
                font-size: 16px;
              }
            }

            .alert {
              color: #b80202;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;

              @include max-w-media(1200px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .private-round {
      @include flex(center, center);
      padding: 14px 0;
      width: 100%;
      background: rgba(46, 6, 145, 0.6);
      backdrop-filter: blur(4px);

      img {
        width: 100%;
        height: 50px;
      }
    }
  }

  .presale_details {
    @include container;
    @include flex(center, center);
    @include f-direction(column);

    width: 100%;
    gap: 32px;

    position: relative;
    margin-top: 60px;

    border-radius: 32px;
    background: rgba(0, 18, 155, 0.6);

    box-shadow: 0 8px 16px 0 rgba(0, 24, 103, 0.3);
    backdrop-filter: blur(12px);

    padding: 60px 30px;

    .avatar-top {
      position: absolute;
      top: -220px;
      right: -120px;
      overflow: hidden;
      z-index: -1;
      height: auto;

      @include max-w-media(1200px) {
        width: 310px;
        right: -60px;
      }

      @include max-w-media(800px) {
        width: 280px;
        right: -80px;
        top: -140px;
      }
    }

    .top {
      @include flex(center, center);
      @include f-direction(column);

      position: relative;
      gap: 50px;
      width: 100%;
      .title-box {
        width: fit-content;

        h2 {
          text-align: center;
          text-shadow: 6px 6px 0 #003a5e;
          color: var(--white);
          font-size: 72px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-family: var(--font-secondary);
          z-index: 2;
        }
      }

      .referal-box {
        @include flex(space-between, center);
        @include f-direction(row);

        max-width: 1034px;
        width: 100%;
        padding: 24px 64px;

        border-radius: 60px;
        background: var(--white);
        filter: drop-shadow(0px 8px 16px rgba(2, 57, 106, 0.6));

        @include max-w-media(1000px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 25px;
        }

        .btn-variant-1 {
          margin-left: 25px;
        }

        .referal {
          color: var(--black);
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .bottom {
      @include flex(center, center);
      @include f-direction(column);

      width: 100%;
      gap: 24px;

      .bonus-title {
        @include flex(center, center);
        @include f-direction(row);

        width: 100%;
        gap: 16px;

        p {
          color: var(--white);
          font-size: 48px;
          font-style: italic;
          font-weight: 700;
          line-height: normal;
          text-align: center;
        }

        img {
          width: 80px;
          height: 80px;

          &:last-child {
            transform: scaleX(-1) rotate(45deg);
          }
        }
      }

      .bonus-info {
        @include flex(center, center);
        @include f-direction(column);
        width: 100%;
        gap: 8px;

        p {
          color: var(--white);
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .bonus-rounds {
        @include flex(center, center);
        @include f-direction(row);
        flex-wrap: wrap;
        max-width: 1285px;
        width: 100%;
        gap: 15px;

        .bonus-round {
          @include flex(center, center);
          @include f-direction(column);

          position: relative;

          width: calc(20% - 15px);
          gap: 8px;
          padding: 24px;

          border-radius: 24px;
          background: #070570;

          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

          @include max-w-media(1200px) {
            width: calc(33% - 15px);
          }

          @include max-w-media(1200px) {
            width: calc(50% - 15px);
          }

          @include max-w-media(575px) {
            width: 100%;
          }

          h4 {
            color: var(--white);
            text-align: center;
            font-family: var(--font-main);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .bonus-percentage-box {
            position: relative;
            width: fit-content;

            .bonus-percentage {
              position: relative;
              color: var(--white);
              text-align: center;
              font-size: 44px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              font-family: var(--font-main);
              z-index: 2;
            }

            .bonus-percentage-bg {
              top: 3px;
              left: 3px;
              color: #003a5e;
              position: absolute;
              white-space: nowrap;
              text-align: center;
              font-size: 44px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              font-family: var(--font-main);
              user-select: none;
              z-index: 1;
            }
          }

          .prise {
            color: var(--white);
            text-align: center;
            font-family: var(--font-main);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          img {
            position: absolute;
            bottom: -60px;
            right: -80px;
            width: 200px;
            height: 200px;
          }
        }
      }
    }

    .max-bonus {
      color: var(--white);
      text-align: center;
      font-family: var(--font-main);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .explained {
    @include container;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    @include max-w-media(1200px) {
      padding-bottom: 100px;
    }

    @include max-w-media(800px) {
      padding-bottom: 50px;
    }

    .box {
      @include flex(center, center);
      @include f-direction(column);
      gap: 24px;

      width: 100%;
      position: relative;

      .avatar_explained {
        width: 652px;
        height: 563px;
      }

      .info {
        @include flex(center, center);
        @include f-direction(column);
        gap: 18px;
        width: 100%;

        .contact,
        .ad,
        a {
          color: var(--black);

          font-family: var(--font-main);
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .important {
          font-weight: 700;
        }
      }
    }

    &-img {
      height: auto;

      &--ice {
        margin-left: -75px;

        @include max-w-media(1200px) {
          position: absolute;
          bottom: 20%;
          margin-left: 0;
          width: 40%;
        }
      }

      &--text {
        margin-top: -165px;
        width: 50%;

        @include max-w-media(1200px) {
          width: 90%;
          //margin-bottom: 120px;
        }
      }

      &__bg {
        position: absolute;
        top: -200px;
        width: 100%;
        overflow: hidden;
        user-select: none;

        @include max-w-media(1200px) {
          position: static;
          top: auto;
        }
      }

      &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include max-w-media(1200px) {
          flex-direction: column-reverse;
        }
      }
    }
  }

  .sectioning {
    position: relative;
    width: 100%;
  }

  .roadmap {
    @include container;
    @include flex(center, center);
    @include f-direction(column);

    gap: 40px;

    width: 100%;
    padding-top: 60px;

    .title-box {
      @include flex(center, center);
      @include f-direction(column);
      gap: 0;
      width: 100%;

      img {
        width: 100%;
      }

      .title-text-box {
        width: fit-content;

        .title {
          text-align: center;
          color: var(--white);
          text-shadow: 6px 6px 0 #003a5e;
          font-size: 128px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-family: var(--font-secondary);
          z-index: 2;
        }
      }
    }

    .container {
      @include flex(center, flex-start);
      @include f-direction(row);
      flex-wrap: wrap;

      gap: 30px 200px;

      .roadmap-box {
        @include flex(flex-start, center);
        @include f-direction(column);

        gap: 50px;

        position: relative;
        width: 556px;
        height: 500px;

        background-image: url(./img/roadmap/cart_bg.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 8px 16px rgba(0, 77, 59, 0.6));

        &:nth-child(even) {
          margin-top: 80px;

          @include max-w-media(1300px) {
            margin-top: 0;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: -150px;
            left: -200px;
            transform: rotate(53deg);
            width: 180px;
            height: 180px;

            background-image: url(./img/roadmap/arrow.webp);

            @include max-w-media(1300px) {
              display: none;
            }
          }
        }

        &:nth-child(odd) {
          margin-top: 0;

          &::before {
            content: "";
            position: absolute;
            bottom: 80px;
            right: -190px;
            transform: translateX(50%);
            width: 180px;
            height: 180px;
            transform: rotate(292deg);

            background-image: url(./img/roadmap/arrow.svg);

            @include max-w-media(1300px) {
              display: none;
            }
          }
        }

        &:last-child {
          &::before {
            display: none;
          }
        }

        .title-box {
          @include flex(center, center);
          @include f-direction(column);
          gap: 0;
          width: 100%;
          padding-top: 50px;

          .cart_count,
          .cart_title {
            position: relative;
            color: #1e7ee1;
            font-family: var(--font-secondary);
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            // &::before {
            //   z-index: 2;
            //   content: attr(data-text);
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 100%;
            //   color: transparent;
            //   text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
            //   z-index: -1;
            //   clip: rect(0, auto, auto, 0);
            // }
          }
        }

        .description {
          max-width: 430px;
          width: 100%;
          color: var(--white);

          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          z-index: 2;
        }

        img {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;

          @include max-w-media(1440px) {
            width: 150px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .icdrmnomics {
    @include container;
    @include flex(center, center);
    @include f-direction(column);

    gap: 60px;

    margin-top: 60px;
    margin-bottom: 120px;

    padding: 40px 20px;
    border-radius: 32px;
    background: rgba(254, 255, 184, 0.3);

    box-shadow: 0 8px 16px 0 rgba(0, 24, 103, 0.3);
    backdrop-filter: blur(12px);

    .title-box {
      @include flex(center, center);
      @include f-direction(column);
      gap: 0;
      width: 100%;

      text-align: center;

      position: relative;

      .title {
        color: rgba(194, 137, 6, 1);
        text-shadow: 4px 2px 0 rgb(114 81 4);
        font-family: var(--font-secondary);
        font-size: 128px;
        font-style: normal;
        font-weight: 400;

        @include max-w-media(900px) {
          font-size: 80px;
        }
      }

      .about {
        color: #7fc9ff;
        text-shadow: 6px 2px 0 rgb(114 81 4);
        font-family: var(--font-secondary);
        font-size: 140px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include max-w-media(900px) {
          font-size: 80px;
        }
      }

      .sisdrm_coins {
        @include flex(center, center);
        @include f-direction(column);

        position: absolute;
        right: 50%;
        bottom: -50px;
        transform: translateX(50%) rotate(-5.576deg);

        width: 100%;
        max-width: 500px;
        width: 100%;
        height: 80px;
        border-radius: 60px;
        background: #fdf301;

        box-shadow: 0 4px 4px 0 rgba(126, 87, 0, 0.6);

        @include max-w-media(900px) {
          right: 50%;
          bottom: -80px;
          max-width: 350px;
        }

        p {
          color: rgba(194, 137, 6, 0.8);
          text-shadow: 1px 2px 0 rgb(114 81 4);

          font-family: var(--font-secondary);
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .img-box {
      max-width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;

      @include max-w-media(1200px) {
        margin-top: 35px;
      }

      img {
        width: 200%;
        height: auto;
      }

      .about_cart_position {
        position: absolute;
        width: fit-content;

        .about_cart {
          img {
            @include max-w-media(575px) {
              display: none;
            }
          }

          &::before {
            @include max-w-media(575px) {
              display: none;
            }
          }
        }

        &.first {
          top: 20px;
          left: -236px;

          @include max-w-media(1300px) {
            top: 20px;
            left: -150px;
          }

          .about_cart {
            &::before {
              position: absolute;
              content: "";
              width: 128px;
              height: 120px;
              left: 50%;
              top: 100%;

              background-image: url(./img/icdrmnomics/arrows/1.webp);
            }
          }
        }
        &.second {
          top: 45%;
          left: -250px;

          @include max-w-media(800px) {
            top: 45%;
            left: -110px;
          }

          .about_cart {
            //padding: 20px 22.5px;

            &::before {
              position: absolute;
              content: "";
              width: 220px;
              height: 42px;
              left: 95%;
              top: calc(50% - 21px);
              transform: translateY(-50%);

              background-image: url(./img/icdrmnomics/arrows/2.webp);

              @include max-w-media(800px) {
                left: 85%;
              }
            }
          }
        }
        &.third {
          bottom: 20px;
          left: -300px;

          @include max-w-media(1300px) {
            bottom: 20px;
            left: -150px;
          }

          .about_cart {
            //padding: 29px 22.5px;

            &::before {
              position: absolute;
              content: "";
              width: 154px;
              height: 32px;
              right: -154px;
              bottom: 20px;

              background-image: url(./img/icdrmnomics/arrows/3.webp);
            }
          }
        }
        &.fourth {
          top: 20px;
          right: -236px;

          @include max-w-media(1300px) {
            top: 20px;
            right: -180px;
          }

          @include max-w-media(800px) {
            right: -90px;
          }

          .about_cart {
            //padding: 6px 40px;

            .description {
              max-width: 260px;
              text-align: center;
            }

            &::before {
              position: absolute;
              content: "";
              width: 128px;
              height: 102px;
              left: 20%;
              bottom: -102px;

              background-image: url(./img/icdrmnomics/arrows/4.webp);

              @include max-w-media(800px) {
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
        &.fifth {
          top: 45%;
          right: -300px;

          @include max-w-media(1300px) {
            top: 45%;
            right: -200px;
          }

          @include max-w-media(800px) {
            right: -140px;
          }

          .about_cart {
            //padding: 15px 21px;

            &::before {
              position: absolute;
              content: "";
              width: 154px;
              height: 32px;
              left: -154px;
              bottom: 20px;

              background-image: url(./img/icdrmnomics/arrows/5.webp);
            }
          }
        }
        &.sixth {
          bottom: 20px;
          right: -250px;

          @include max-w-media(1300px) {
            bottom: 20px;
            right: -180px;
          }

          @include max-w-media(800px) {
            right: -120px;
          }

          .about_cart {
            //padding: 19px 21px;

            &::before {
              position: absolute;
              content: "";
              width: 154px;
              height: 32px;
              left: -154px;
              bottom: 20px;

              background-image: url(./img/icdrmnomics/arrows/6.webp);
            }
          }
        }

        .about_cart {
          @include flex(center, center);
          @include f-direction(column);
          gap: 0;
          position: relative;
          width: fit-content;

          padding: 25px 22.5px;

          background-color: #fdf301;
          border-radius: 15px;

          @include max-w-media(800px) {
            padding: 10px;
          }

          .title {
            color: #ce9817;
            text-shadow: 1px 2px 0 rgb(114 81 4);

            font-family: var(--font-secondary);
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include max-w-media(800px) {
              font-size: 41px;
            }
          }

          .description {
            color: var(--black);
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @include max-w-media(1200px) {
              font-size: 16px;
            }

            @include max-w-media(800px) {
              font-size: 10px;
            }
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.partners {
  width: 100%;

  padding: 60px 0;

  background-color: #45b8e6;
  background-image: url(./img/partners/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    @include flex(center, center);
    @include f-direction(column);
    gap: 45px;

    width: 100%;

    h2 {
      color: #026196;
      font-family: var(--font-secondary);
      font-size: 128px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.8);
      text-transform: uppercase;

      @include max-w-media(800px) {
        font-size: 88px;
      }
    }

    .partners_box {
      @include flex(center, center);
      @include f-direction(row);
      gap: 115px;

      width: 100%;
      flex-wrap: wrap;
    }
  }
}

.social-media-btn {
  @include flex(center, center);
  @include f-direction(row);
  gap: 26px;

  max-width: 429px;
  width: 100%;

  padding: 26px 0;

  border-radius: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 4, 95, 0.55) inset;
  color: var(--white);

  font-family: var(--font-main);
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;

  img {
    width: 60px;
  }

  &:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
  }
}

.telegram {
  background: #536eff;
}
.twitter {
  background: #00c8b0;
}

footer {
  width: 100%;
  height: 100%;
  background-image: url(./img/footer/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #52d6ff;

  padding-bottom: 60px;

  .container {
    @include container();
    @include flex(center, center);
    @include f-direction(column);
    width: 100%;
    height: 100%;

    .top_section {
      @include flex(center, center);
      @include f-direction(column);
      width: 100%;
      height: 578px;
      gap: 32px;
    }

    .bottom_section {
      @include flex(center, center);
      @include f-direction(column);
      width: 100%;
      height: 100%;
      gap: 32px;

      img {
        width: 100%;
      }

      h2 {
        color: #5ff6fc;
        font-family: var(--font-main);
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-shadow: 6px 3px 0 #0681a8;
      }

      .important {
        color: var(--black);
        font-family: var(--font-main);
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      p {
        color: var(--black);
        font-family: var(--font-main);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .copyright {
        color: #01004a;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}

@import "./assets/@media.scss";
