/* FLEX */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Kartooni";
  src: url("./assets/fonts/Kartooni.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-main: Montserrat;
  --font-secondary: Kartooni;
  --blue: #52d6ff;
  --black: #000;
  --white: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-main);
}

.btn-variant-1 {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 274px;
  width: 100%;
  height: 66px;
  border-radius: 100px;
  background: linear-gradient(180deg, #00f2ff 0%, #0b58bd 100%);
  box-shadow: 0 2.063px 0 0 #7bf7ff inset, 0 4px 0 0 #03448d;
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transition: 0.3s ease-in-out;
}
.btn-variant-1:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

body {
  font-family: var(--font-main);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-top-padding) var(--container-side-padding);
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  border-radius: 60px;
  background: rgba(254, 255, 187, 0.6);
  box-shadow: 0 4px 16px 0 rgba(0, 104, 141, 0.6);
  backdrop-filter: blur(4px);
}
header .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  margin: 0;
  max-width: 1160px;
  width: 100%;
}
header .hiding-content {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
header .hiding-content-btn-toggler {
  display: none;
}
header .logo-box {
  max-width: 135px;
  width: 100%;
  height: 100%;
  margin-right: 15px;
}
header .logo-box img {
  width: 100%;
}
header nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: 535px;
  width: 100%;
}
header nav a {
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .btn-variant-1.btn-variant-1--header {
  margin-left: 20px;
}
@media screen and (max-width: 1000px) {
  header .btn-variant-1.btn-variant-1--header {
    max-width: 155px;
    font-size: 19px;
  }
}
@media screen and (max-width: 800px) {
  header .btn-variant-1.btn-variant-1--header {
    height: 37px;
    font-size: 19px;
    display: block;
  }
}

.header__box {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 20px;
}

.hero {
  width: 100%;
  height: 721px;
  position: relative;
  background-image: url("./img/section-hero/hero-bg.webp");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1270px) {
  .hero {
    height: 580px;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    height: 390px;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    height: 280px;
  }
}
.hero .top-section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero .top-section .hero-text {
  position: absolute;
  bottom: -1px;
  right: 34%;
  max-width: 849px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1270px) {
  .hero .top-section .hero-text {
    max-width: 620px;
  }
}
@media screen and (max-width: 900px) {
  .hero .top-section .hero-text {
    max-width: 400px;
    right: 29%;
  }
}
@media screen and (max-width: 575px) {
  .hero .top-section .hero-text {
    max-width: 260px;
  }
}
.hero .top-section .avatar {
  position: absolute;
  bottom: 4%;
  right: 14%;
  width: 560px;
  height: auto;
}
@media screen and (max-width: 1270px) {
  .hero .top-section .avatar {
    max-width: 430px;
    right: 5%;
  }
}
@media screen and (max-width: 900px) {
  .hero .top-section .avatar {
    max-width: 250px;
    right: -2%;
  }
}
@media screen and (max-width: 575px) {
  .hero .top-section .avatar {
    max-width: 170px;
  }
}

.bottom-section-animated {
  position: relative; /* Ensure the inner div is positioned correctly */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(46, 6, 145, 0.6);
  backdrop-filter: blur(4px);
  z-index: 5;
  overflow: hidden; /* Hide the overflow of the animated background */
}
.bottom-section-animated .background-animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Ensure the background can slide across the entire width */
  height: 100%;
  background-image: url("./img/section-hero/ice-dream-bottom.webp");
  background-repeat: repeat-x;
  background-position: 0 center;
  animation: moveBackground 20s linear infinite;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(./img/main-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(194, 137, 6);
  overflow: hidden;
  padding-top: 60px;
}
main .tutorial {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 60px;
}
main .tutorial .title-box {
  width: fit-content;
}
main .tutorial .title-box h2 {
  text-align: center;
  color: var(--white);
  text-shadow: 6px 6px 0 #003a5e;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-secondary);
  z-index: 2;
}
main .tutorial .subtitle {
  max-width: 1300px;
  padding: 0 15px;
  width: 100%;
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main .tutorial .steps {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  overflow-x: scroll;
  padding: 25px 25px;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps {
    gap: 50px;
  }
}
main .tutorial .steps .step {
  width: calc(25% - 25px);
  position: relative;
  border-radius: 24px;
  background-color: var(--white);
  padding: 32px 24px;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step {
    width: calc(50% - 25px);
    padding: 16px 12px;
  }
}
@media screen and (max-width: 700px) {
  main .tutorial .steps .step {
    width: 100%;
  }
}
main .tutorial .steps .step::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 24px;
  background: linear-gradient(180deg, #016091 0%, #01f2fa 100%);
  z-index: 1;
}
main .tutorial .steps .step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background: var(--white);
  z-index: 2;
}
main .tutorial .steps .step .step-content {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  z-index: 3;
}
main .tutorial .steps .step .step-content .top-section {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .tutorial .steps .step .step-content .top-section .count {
  color: #075686;
  font-family: var(--font-secondary);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step .step-content .top-section .count {
    font-size: 32px;
  }
}
main .tutorial .steps .step .step-content .top-section .step-title {
  color: #075686;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step .step-content .top-section .step-title {
    font-size: 32px;
  }
}
main .tutorial .steps .step .step-content .bottom-section {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .tutorial .steps .step .step-content .bottom-section .about {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step .step-content .bottom-section .about {
    font-size: 16px;
  }
}
main .tutorial .steps .step .step-content .bottom-section a {
  color: #009fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration-line: underline;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step .step-content .bottom-section a {
    font-size: 16px;
  }
}
main .tutorial .steps .step .step-content .bottom-section .alert {
  color: #b80202;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  main .tutorial .steps .step .step-content .bottom-section .alert {
    font-size: 16px;
  }
}
main .tutorial .private-round {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 14px 0;
  width: 100%;
  background: rgba(46, 6, 145, 0.6);
  backdrop-filter: blur(4px);
}
main .tutorial .private-round img {
  width: 100%;
  height: 50px;
}
main .presale_details {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  position: relative;
  margin-top: 60px;
  border-radius: 32px;
  background: rgba(0, 18, 155, 0.6);
  box-shadow: 0 8px 16px 0 rgba(0, 24, 103, 0.3);
  backdrop-filter: blur(12px);
  padding: 60px 30px;
}
main .presale_details .avatar-top {
  position: absolute;
  top: -220px;
  right: -120px;
  overflow: hidden;
  z-index: -1;
  height: auto;
}
@media screen and (max-width: 1200px) {
  main .presale_details .avatar-top {
    width: 310px;
    right: -60px;
  }
}
@media screen and (max-width: 800px) {
  main .presale_details .avatar-top {
    width: 280px;
    right: -80px;
    top: -140px;
  }
}
main .presale_details .top {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
  width: 100%;
}
main .presale_details .top .title-box {
  width: fit-content;
}
main .presale_details .top .title-box h2 {
  text-align: center;
  text-shadow: 6px 6px 0 #003a5e;
  color: var(--white);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-secondary);
  z-index: 2;
}
main .presale_details .top .referal-box {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 1034px;
  width: 100%;
  padding: 24px 64px;
  border-radius: 60px;
  background: var(--white);
  filter: drop-shadow(0px 8px 16px rgba(2, 57, 106, 0.6));
}
@media screen and (max-width: 1000px) {
  main .presale_details .top .referal-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
main .presale_details .top .referal-box .btn-variant-1 {
  margin-left: 25px;
}
main .presale_details .top .referal-box .referal {
  color: var(--black);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .presale_details .bottom {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
main .presale_details .bottom .bonus-title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}
main .presale_details .bottom .bonus-title p {
  color: var(--white);
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
main .presale_details .bottom .bonus-title img {
  width: 80px;
  height: 80px;
}
main .presale_details .bottom .bonus-info {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
main .presale_details .bottom .bonus-info p {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .presale_details .bottom .bonus-rounds {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1285px;
  width: 100%;
  gap: 15px;
}
main .presale_details .bottom .bonus-rounds .bonus-round {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(20% - 15px);
  gap: 8px;
  padding: 24px;
  border-radius: 24px;
  background: #070570;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1200px) {
  main .presale_details .bottom .bonus-rounds .bonus-round {
    width: calc(33% - 15px);
  }
}
@media screen and (max-width: 1200px) {
  main .presale_details .bottom .bonus-rounds .bonus-round {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 575px) {
  main .presale_details .bottom .bonus-rounds .bonus-round {
    width: 100%;
  }
}
main .presale_details .bottom .bonus-rounds .bonus-round h4 {
  color: var(--white);
  text-align: center;
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .presale_details .bottom .bonus-rounds .bonus-round .bonus-percentage-box {
  position: relative;
  width: fit-content;
}
main .presale_details .bottom .bonus-rounds .bonus-round .bonus-percentage-box .bonus-percentage {
  position: relative;
  color: var(--white);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-family: var(--font-main);
  z-index: 2;
}
main .presale_details .bottom .bonus-rounds .bonus-round .bonus-percentage-box .bonus-percentage-bg {
  top: 3px;
  left: 3px;
  color: #003a5e;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-family: var(--font-main);
  user-select: none;
  z-index: 1;
}
main .presale_details .bottom .bonus-rounds .bonus-round .prise {
  color: var(--white);
  text-align: center;
  font-family: var(--font-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .presale_details .bottom .bonus-rounds .bonus-round img {
  position: absolute;
  bottom: -60px;
  right: -80px;
  width: 200px;
  height: 200px;
}
main .presale_details .max-bonus {
  color: var(--white);
  text-align: center;
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .explained {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1200px) {
  main .explained {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 800px) {
  main .explained {
    padding-bottom: 50px;
  }
}
main .explained .box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;
}
main .explained .box .avatar_explained {
  width: 652px;
  height: 563px;
}
main .explained .box .info {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
main .explained .box .info .contact,
main .explained .box .info .ad,
main .explained .box .info a {
  color: var(--black);
  font-family: var(--font-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .explained .box .info .important {
  font-weight: 700;
}
main .explained-img {
  height: auto;
}
main .explained-img--ice {
  margin-left: -75px;
}
@media screen and (max-width: 1200px) {
  main .explained-img--ice {
    position: absolute;
    bottom: 20%;
    margin-left: 0;
    width: 40%;
  }
}
main .explained-img--text {
  margin-top: -165px;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  main .explained-img--text {
    width: 90%;
  }
}
main .explained-img__bg {
  position: absolute;
  top: -200px;
  width: 100%;
  overflow: hidden;
  user-select: none;
}
@media screen and (max-width: 1200px) {
  main .explained-img__bg {
    position: static;
    top: auto;
  }
}
main .explained-img__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  main .explained-img__box {
    flex-direction: column-reverse;
  }
}
main .sectioning {
  position: relative;
  width: 100%;
}
main .roadmap {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-top: 60px;
}
main .roadmap .title-box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
main .roadmap .title-box img {
  width: 100%;
}
main .roadmap .title-box .title-text-box {
  width: fit-content;
}
main .roadmap .title-box .title-text-box .title {
  text-align: center;
  color: var(--white);
  text-shadow: 6px 6px 0 #003a5e;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-secondary);
  z-index: 2;
}
main .roadmap .container {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px 200px;
}
main .roadmap .container .roadmap-box {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: 556px;
  height: 500px;
  background-image: url(./img/roadmap/cart_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .roadmap .container .roadmap-box:nth-child(even) {
  margin-top: 80px;
}
@media screen and (max-width: 1300px) {
  main .roadmap .container .roadmap-box:nth-child(even) {
    margin-top: 0;
  }
}
main .roadmap .container .roadmap-box:nth-child(even)::before {
  content: "";
  position: absolute;
  bottom: -150px;
  left: -200px;
  transform: rotate(53deg);
  width: 180px;
  height: 180px;
  background-image: url(./img/roadmap/arrow.webp);
}
@media screen and (max-width: 1300px) {
  main .roadmap .container .roadmap-box:nth-child(even)::before {
    display: none;
  }
}
main .roadmap .container .roadmap-box:nth-child(odd) {
  margin-top: 0;
}
main .roadmap .container .roadmap-box:nth-child(odd)::before {
  content: "";
  position: absolute;
  bottom: 80px;
  right: -190px;
  transform: translateX(50%);
  width: 180px;
  height: 180px;
  transform: rotate(292deg);
  background-image: url(./img/roadmap/arrow.svg);
}
@media screen and (max-width: 1300px) {
  main .roadmap .container .roadmap-box:nth-child(odd)::before {
    display: none;
  }
}
main .roadmap .container .roadmap-box:last-child::before {
  display: none;
}
main .roadmap .container .roadmap-box .title-box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  padding-top: 50px;
}
main .roadmap .container .roadmap-box .title-box .cart_count,
main .roadmap .container .roadmap-box .title-box .cart_title {
  color: #1e7ee1;
  font-family: var(--font-secondary);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .roadmap .container .roadmap-box .description {
  max-width: 430px;
  width: 100%;
  color: var(--white);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 2;
}
main .roadmap .container .roadmap-box img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  main .roadmap .container .roadmap-box img {
    width: 150px;
    height: 150px;
  }
}
main .icdrmnomics {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 120px;
  padding: 40px 20px;
  border-radius: 32px;
  background: rgba(254, 255, 184, 0.3);
  box-shadow: 0 8px 16px 0 rgba(0, 24, 103, 0.3);
  backdrop-filter: blur(12px);
}
main .icdrmnomics .title-box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  text-align: center;
  position: relative;
}
main .icdrmnomics .title-box .title {
  color: rgb(194, 137, 6);
  text-shadow: 4px 2px 0 rgb(114, 81, 4);
  font-family: var(--font-secondary);
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  main .icdrmnomics .title-box .title {
    font-size: 80px;
  }
}
main .icdrmnomics .title-box .about {
  color: #7fc9ff;
  text-shadow: 6px 2px 0 rgb(114, 81, 4);
  font-family: var(--font-secondary);
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 900px) {
  main .icdrmnomics .title-box .about {
    font-size: 80px;
  }
}
main .icdrmnomics .title-box .sisdrm_coins {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50%;
  bottom: -50px;
  transform: translateX(50%) rotate(-5.576deg);
  width: 100%;
  max-width: 500px;
  width: 100%;
  height: 80px;
  border-radius: 60px;
  background: #fdf301;
  box-shadow: 0 4px 4px 0 rgba(126, 87, 0, 0.6);
}
@media screen and (max-width: 900px) {
  main .icdrmnomics .title-box .sisdrm_coins {
    right: 50%;
    bottom: -80px;
    max-width: 350px;
  }
}
main .icdrmnomics .title-box .sisdrm_coins p {
  color: rgba(194, 137, 6, 0.8);
  text-shadow: 1px 2px 0 rgb(114, 81, 4);
  font-family: var(--font-secondary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .icdrmnomics .img-box {
  max-width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
@media screen and (max-width: 1200px) {
  main .icdrmnomics .img-box {
    margin-top: 35px;
  }
}
main .icdrmnomics .img-box img {
  width: 200%;
  height: auto;
}
main .icdrmnomics .img-box .about_cart_position {
  position: absolute;
  width: fit-content;
}
@media screen and (max-width: 575px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart img {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart::before {
    display: none;
  }
}
main .icdrmnomics .img-box .about_cart_position.first {
  top: 20px;
  left: -236px;
}
@media screen and (max-width: 1300px) {
  main .icdrmnomics .img-box .about_cart_position.first {
    top: 20px;
    left: -150px;
  }
}
main .icdrmnomics .img-box .about_cart_position.first .about_cart::before {
  position: absolute;
  content: "";
  width: 128px;
  height: 120px;
  left: 50%;
  top: 100%;
  background-image: url(./img/icdrmnomics/arrows/1.webp);
}
main .icdrmnomics .img-box .about_cart_position.second {
  top: 45%;
  left: -250px;
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.second {
    top: 45%;
    left: -110px;
  }
}
main .icdrmnomics .img-box .about_cart_position.second .about_cart::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 42px;
  left: 95%;
  top: calc(50% - 21px);
  transform: translateY(-50%);
  background-image: url(./img/icdrmnomics/arrows/2.webp);
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.second .about_cart::before {
    left: 85%;
  }
}
main .icdrmnomics .img-box .about_cart_position.third {
  bottom: 20px;
  left: -300px;
}
@media screen and (max-width: 1300px) {
  main .icdrmnomics .img-box .about_cart_position.third {
    bottom: 20px;
    left: -150px;
  }
}
main .icdrmnomics .img-box .about_cart_position.third .about_cart::before {
  position: absolute;
  content: "";
  width: 154px;
  height: 32px;
  right: -154px;
  bottom: 20px;
  background-image: url(./img/icdrmnomics/arrows/3.webp);
}
main .icdrmnomics .img-box .about_cart_position.fourth {
  top: 20px;
  right: -236px;
}
@media screen and (max-width: 1300px) {
  main .icdrmnomics .img-box .about_cart_position.fourth {
    top: 20px;
    right: -180px;
  }
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.fourth {
    right: -90px;
  }
}
main .icdrmnomics .img-box .about_cart_position.fourth .about_cart .description {
  max-width: 260px;
  text-align: center;
}
main .icdrmnomics .img-box .about_cart_position.fourth .about_cart::before {
  position: absolute;
  content: "";
  width: 128px;
  height: 102px;
  left: 20%;
  bottom: -102px;
  background-image: url(./img/icdrmnomics/arrows/4.webp);
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.fourth .about_cart::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
main .icdrmnomics .img-box .about_cart_position.fifth {
  top: 45%;
  right: -300px;
}
@media screen and (max-width: 1300px) {
  main .icdrmnomics .img-box .about_cart_position.fifth {
    top: 45%;
    right: -200px;
  }
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.fifth {
    right: -140px;
  }
}
main .icdrmnomics .img-box .about_cart_position.fifth .about_cart::before {
  position: absolute;
  content: "";
  width: 154px;
  height: 32px;
  left: -154px;
  bottom: 20px;
  background-image: url(./img/icdrmnomics/arrows/5.webp);
}
main .icdrmnomics .img-box .about_cart_position.sixth {
  bottom: 20px;
  right: -250px;
}
@media screen and (max-width: 1300px) {
  main .icdrmnomics .img-box .about_cart_position.sixth {
    bottom: 20px;
    right: -180px;
  }
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position.sixth {
    right: -120px;
  }
}
main .icdrmnomics .img-box .about_cart_position.sixth .about_cart::before {
  position: absolute;
  content: "";
  width: 154px;
  height: 32px;
  left: -154px;
  bottom: 20px;
  background-image: url(./img/icdrmnomics/arrows/6.webp);
}
main .icdrmnomics .img-box .about_cart_position .about_cart {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  width: fit-content;
  padding: 25px 22.5px;
  background-color: #fdf301;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart {
    padding: 10px;
  }
}
main .icdrmnomics .img-box .about_cart_position .about_cart .title {
  color: #ce9817;
  text-shadow: 1px 2px 0 rgb(114, 81, 4);
  font-family: var(--font-secondary);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart .title {
    font-size: 41px;
  }
}
main .icdrmnomics .img-box .about_cart_position .about_cart .description {
  color: var(--black);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  main .icdrmnomics .img-box .about_cart_position .about_cart .description {
    font-size: 10px;
  }
}
main .icdrmnomics .img-box .about_cart_position .about_cart img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.partners {
  width: 100%;
  padding: 60px 0;
  background-color: #45b8e6;
  background-image: url(./img/partners/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.partners .container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
}
.partners .container h2 {
  color: #026196;
  font-family: var(--font-secondary);
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .partners .container h2 {
    font-size: 88px;
  }
}
.partners .container .partners_box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 115px;
  width: 100%;
  flex-wrap: wrap;
}

.social-media-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 26px;
  max-width: 429px;
  width: 100%;
  padding: 26px 0;
  border-radius: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 4, 95, 0.55) inset;
  color: var(--white);
  font-family: var(--font-main);
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.social-media-btn img {
  width: 60px;
}
.social-media-btn:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
  cursor: pointer;
}

.telegram {
  background: #536eff;
}

.twitter {
  background: #00c8b0;
}

footer {
  width: 100%;
  height: 100%;
  background-image: url(./img/footer/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #52d6ff;
  padding-bottom: 60px;
}
footer .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
footer .container .top_section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 578px;
  gap: 32px;
}
footer .container .bottom_section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 32px;
}
footer .container .bottom_section img {
  width: 100%;
}
footer .container .bottom_section h2 {
  color: #5ff6fc;
  font-family: var(--font-main);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 6px 3px 0 #0681a8;
}
footer .container .bottom_section .important {
  color: var(--black);
  font-family: var(--font-main);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
footer .container .bottom_section p {
  color: var(--black);
  font-family: var(--font-main);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .bottom_section .copyright {
  color: #01004a;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  header {
    transition: 0.3s;
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 800px) {
  .btn-variant-1 {
    max-width: 150px;
    font-size: 18px;
    height: 30px;
  }
  header {
    transition: 0.3s;
    width: 100%;
    margin: 0;
  }
  header .container {
    width: 100%;
  }
  header .btn-variant-1 {
    display: none;
  }
  header.opened {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    transition: 0.3s;
  }
  header.opened .hiding-content-btn-toggler span {
    display: none;
  }
  header.opened .hiding-content-btn-toggler::after, header.opened .hiding-content-btn-toggler::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header.opened .hiding-content-btn-toggler::after {
    rotate: 45deg;
    top: 19px;
    left: 9px;
  }
  header.opened .hiding-content-btn-toggler::before {
    rotate: 135deg;
    left: -10px;
    top: 18px;
  }
  header.opened .hiding-content {
    justify-content: center;
    align-items: normal;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  header .hiding-content {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    background: rgba(254, 255, 187, 0.6);
    backdrop-filter: blur(4px);
    max-width: 1316px;
    gap: 15px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  header .hiding-content nav {
    width: 70%;
    margin: 0 auto;
  }
  header .hiding-content .btn-variant-1 {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  header .hiding-content-btn-toggler {
    position: relative;
    cursor: pointer;
    width: 27px;
    height: 20px;
    margin-left: 63px;
    justify-content: space-between;
    align-items: normal;
    display: flex;
    flex-direction: column;
  }
  header .hiding-content-btn-toggler span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  header .hiding-content-btn-toggler::before, header .hiding-content-btn-toggler::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  header .btn-variant-1 {
    font-size: 14px;
  }
  header nav {
    gap: 15px;
    width: 100%;
    justify-content: space-between;
  }
  header nav a {
    font-size: 14px;
  }
  header .logo-box {
    max-width: 75px;
  }
}
@media screen and (max-width: 575px) {
  main .tutorial .title-box h2,
  main .tutorial .title-box .title {
    font-size: 32px;
  }
  main .tutorial .title-box .title {
    top: 4px;
  }
  main .tutorial .subtitle {
    font-size: 24px;
  }
  main .tutorial .steps {
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  main .tutorial .steps .step {
    height: auto;
  }
  main .presale_details {
    border-radius: 0;
    padding: 30px 15px;
    overflow-x: hidden;
  }
  main .presale_details .avatar-top {
    display: none;
  }
  main .presale_details .top .title-box h2,
  main .presale_details .top .title-box p {
    font-size: 32px;
    text-wrap: nowrap;
  }
  main .presale_details .top .referal-box {
    padding: 10px;
  }
  main .presale_details .top .referal-box .referal {
    font-size: 12px;
  }
  main .presale_details .bottom .bonus-title p {
    font-size: 24px;
    text-align: center;
  }
  main .presale_details .bottom .bonus-info p {
    font-size: 16px;
  }
  main .presale_details .bottom .bonus-rounds {
    flex-direction: column;
    gap: 15px;
  }
  main .presale_details .bottom .bonus-rounds .bonus-round {
    max-width: 300px;
  }
  main .explained .box .bg {
    max-width: 350px;
    top: -140px;
  }
  main .explained .box .contact {
    text-align: center;
  }
  main .roadmap .title-box img {
    max-width: 350px;
  }
  main .roadmap .title-box .title-text-box .title {
    font-size: 64px;
  }
  main .roadmap .container {
    gap: 0px;
  }
  main .roadmap .container .roadmap-box {
    background-size: 100% 100%;
    gap: 30px;
    height: 400px;
  }
  main .roadmap .container .roadmap-box::before {
    display: none;
  }
  main .roadmap .container .roadmap-box img {
    bottom: -20px;
    width: 150px;
    height: 150px;
  }
  main .roadmap .container .roadmap-box .title-box {
    padding-top: 80px;
  }
  main .roadmap .container .roadmap-box .title-box .cart_count,
  main .roadmap .container .roadmap-box .title-box .cart_title {
    font-size: 38px;
  }
  main .roadmap .container .roadmap-box .description {
    font-size: 18px;
    text-align: center;
    max-width: 260px;
  }
  main .icdrmnomics {
    border-radius: 0;
  }
  main .icdrmnomics .title-box h2 {
    font-size: 40px;
  }
  main .icdrmnomics .title-box .about {
    font-size: 30px;
  }
  main .icdrmnomics .title-box .sisdrm_coins {
    bottom: -60px;
    max-width: 290px;
    height: 50px;
  }
  main .icdrmnomics .title-box .sisdrm_coins p {
    font-size: 24px;
  }
  main .icdrmnomics .img-box {
    width: auto;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main .icdrmnomics .img-box > img {
    max-width: 375px;
  }
  main .icdrmnomics .img-box .about_cart_position {
    position: static;
    width: calc(100% - 30px);
  }
  main .icdrmnomics .img-box .about_cart_position .about_cart {
    width: 100%;
    border: 4px dashed white;
    text-align: center;
  }
  main .icdrmnomics .img-box .about_cart_position .about_cart .title {
    font-size: 44px;
  }
  main .icdrmnomics .img-box .about_cart_position .about_cart .description {
    font-size: 26px;
  }
  .partners .container h2 {
    font-size: 70px;
  }
  .partners .container .partners_box {
    gap: 25px;
  }
  .partners .container .partners_box .partner-cart img {
    max-width: 280px;
  }
  footer .container .social-media-btn {
    font-size: 32px;
  }
  footer .container .social-media-btn img {
    max-width: 50px;
  }
  footer .container .bottom_section img {
    max-width: 375px;
  }
  footer .container .bottom_section h2 {
    font-size: 32px;
  }
  footer .container .bottom_section p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
